{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('face_features.load_image') }}" method=post class=add-entry enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div class="row">
            <div class="form-group">
                 <div class="col-md-1">
                     {{ form.image.label }}
                     {{ form.image }}
                 </div>
            </div>
        </div>
        <div class="row">
            {% for field in form %}
                 {% for error in field.errors %}
                    <span class="alert alert-danger">{{ error }}</span>
                {% endfor %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}