{% extends "layout.html" %}

{% block styles %}
{{ super() }}
<link href="{{url_for('static', filename='vendor/jquery-select-areas/resources/jquery.selectareas.css')}}"
      media="screen" rel="stylesheet" type="text/css"/>
<!--[if lte IE 8]>
<link href="{{url_for('static', filename='vendor/jquery-select-areas/resources/jquery.selectareas.ie8.css')}}"
      media="screen" rel="stylesheet" type="text/css"/>
<![endif]-->
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <img id="img" src="{{url_for('photos.index', path=image)}}" class="img-responsive">
    </div>
    <div class="col-md-4">
        <form id="face-names" method="post" action="{{url_for('face_features.add_faces')}}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-select-areas/jquery.selectareas.js')}}"></script>
<script type="text/javascript">
    (function () {
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        var faceLocations = {{face_locations | tojson | safe}};
        var areas = [];

        $(document).ready(function () {
            var $image = $('#img');

            var imageWidthRatio = $image.width() / $image.prop("naturalWidth");
            var imageHeightRatio = $image.height() /$image.prop("naturalHeight");

            areas = faceLocations.map(function (x) {
                var areaWidth = Math.abs(x[0] - x[2]) * imageWidthRatio;
                var areaHeight = Math.abs(x[1] - x[3]) * imageHeightRatio;

                return {
                    allowEdit: true,
                    x: x[3] * imageWidthRatio,// top
                    y: x[0] * imageHeightRatio,// right
                    height: areaHeight, // bottom
                    width: areaWidth// left
                };
            });

            $image.selectAreas({
                areas: areas,
                onLoaded: function () {
                    areas = $image.selectAreas('areas');
                    areas.forEach(function (x) {
                        addInput(x.id)
                    });
                },

                onChanged: function (event, id, selections) {
                    var added = $.grep(areas, function (e) { return e.id === id}).length === 0;
                    var deleted = $.grep(selections, function(e){ return e.id === id }).length === 0;
                    areas = selections;

                    if (!added && !deleted)
                        return;

                    if (deleted) {
                        $("#" + id).remove();
                    }

                    if (added) {
                        addInput(id)
                    }
                }
            });

            $('#face-names').submit(function (e) {
                e.preventDefault();
                faceNamesSubmit();
            });

            function faceNamesSubmit() {
                var $nameInputs = $('#face-names').find('input.form-control');
                var names = $.map($nameInputs, function (x) {
                    return $(x).val();
                });

                if (names.length !== areas.length)
                {
                    console.error('length of names not equals to length of areas');
                }
                else
                {
                    var locations = [];
                    for (var i = 0; i < areas.length; i++) {
                        locations = locations.concat(
                            [

                                areas[i].y / imageHeightRatio,
                                (areas[i].x + areas[i].width) / imageWidthRatio,
                                (areas[i].y + areas[i].height) / imageHeightRatio,
                                areas[i].x / imageWidthRatio
                            ]);
                    }

                    var data = {
                        filename: {{ image | tojson | safe }},
                        names: names,
                        locations: locations
                    };

                    $.ajax({
                        url: "{{url_for('face_features.add_faces')}}",
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function(data) {
                            alert(data.message);
                        }
                    });
                }
            }
        });

        function addInput(id) {
            $('<input/>', {
                id: id,
                name: 'faceNames[]',
                "class": 'form-control'
            }).insertBefore('#face-names > button');
        }
    })();
</script>
{% endblock %}