<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    {% block styles %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("face_features.load_image") }}">Face recognition</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <!--<li><a href="#about">About</a></li>-->
                <!--<li><a href="#contact">Contact</a></li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
        {% block body %}
        {% endblock %}
</div><!-- /.container -->
    {% block scripts %}
        <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    {% endblock %}
</body>
</html>